.ScheduleTable {
  width: 90%;
  min-width: 350px;
  max-width: 600px;
  border: 1px solid #666666;
  border-spacing: 1px;
  border-width: 2px;
  border-collapse: separate;
}

.ScheduleTable td,
th {
  border: 1px solid #cccccc;
  padding: 5px;
  margin: 1px;
}

.ScheduleTable th {
  background-color: #ffcc77;
  color: #02125b;
  text-align: center;
}

.ScheduleTable .Tournament {
  width: 40%;
  min-width: 170px;
}

.ScheduleTable td {
  text-align: left;
}

.ScheduleTable tr:nth-child(even) {
  background-color: #ffffb0;
}