.SumoScheduleLookup {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: black;
}
.SumoScheduleLookup h1 {
    font-family: georgia, times, serif;
    text-align: center;
    padding: 1px;
}
.SumoScheduleLookup form {
    padding: 8px;
}
.LoadingText {
    padding: 8px;
    font-size: calc(12px + 1vmin);
    font-weight: bold;
    font-style: italic;
    color: blue;
}
.ErrorMessageBox {
    width: 70%;
    max-width: 470px;
    padding: 15px;
    font-size: calc(12px + 1vmin);
    background-color: rgb(250, 218, 223);
    border: 1px solid darkred;
}
.ErrorMessageHeading {
    width: 100%;
    padding-bottom: 8px;
    font-weight: bold;
    color: rgb(75, 0, 0);
}