.SumoScheduleLookup {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: black;
}

.SumoScheduleLookup h1 {
    text-align: center;
}

.SumoScheduleLookup .title-en {
    font-family: georgia, times, serif;
}

.SumoScheduleLookup .title-zh {
    font-family: "PingFang HK", "PingFang TC", "Noto Sans HK", "Microsoft YaHei", sans-serif;
}

.SumoScheduleLookup .title-ja {
    font-family: "Hiragino Sans", "Noto Sans JP", "MS PGothic", "MS Gothic", sans-serif;
}

.SumoScheduleLookup form {
    padding: 8px;
}