.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: black;
}
.App h1 {
  font-family: georgia, times, serif;
  text-align: center;
  padding: 1px;
}
.RemoteApiRemark {
  width: 87.5%;
  min-width: 340px;
  max-width: 585px;
  padding: 8px;
  color: darkblue;
}