.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: black;
}
.App h1 {
  font-family: georgia, times, serif;
  text-align: center;
}
.App label, select, option {
  font-size: 16px;
}
.App label {
  font-weight: bold;
}

/** Table formatting: BEGIN **/
.App table {
  width: 90%;
  border: 1px solid #666666;
  border-spacing: 1px;
  border-width: 2px;
  border-collapse: separate;
}
.App td, th {
  border: 1px solid #cccccc;
  padding: 5px;
  margin: 1px;
}
.App th {
  background-color: #ffcc77;
  color: #02125b;
  text-align: center;
}
.App td {
  text-align: left;
}
.App tr:nth-child(even) {
  background-color: #ffffb0;
}
/*** Table formatting: END ***/